<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
</packages>